<h1>Hmm</h1>
<h3>Ask a question?</h3>
<form action="" method="POST">
    <textarea></textarea>
    <button type="submit">Submit</button>
</form>
<h3>Answer a question</h3>
{{#each question}}
    <a href="/question?id={{this.id}}">{{this}}</a>
{{/each}}