<h1>Hmm</h1>
<h3>Ask a question?</h3>
<form action="/question" method="POST">
    <textarea name="body" required></textarea>
    <button type="submit">Submit</button>
</form>
<h3>Answer a question</h3>
{{#each questions}}
    <a href="/question?id={{this.questionid}}">{{this.description}}</a>
{{/each}}